<!DOCTYPE html>

<html>

    <head>

        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous">


    </head>


    <body>
        <h1>How old are you?</h1>
        <form method="POST" action="/send">
            <div class="form-group">
                <input type="text" name="age">
                <input type="text" name="gender">
            </div>
            <input class="btn btn-primary" type="submit" value="submit">    



        </form>

    </body>





</html>