<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Uploaded</title>
    </head>
    <body>
        <p>hello world</p>
        <!-- <p>Hooray! {{file_name}} has been successfully uploaded!</p> -->
        <!-- <p>The prediction is {{img_array}}</p> -->
        <!-- <img src="{{url_for('images', filename=file_name)}}"> -->
    </body>
</html